/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;

:root {
  --app-height: 100vh;
}
